.rewards-container {
  height: 100%;
  padding: 0 1rem;

  .rewards-main {
    .rewards-title {
      color: #32302f;
      font-size: 1.8rem;
      font-weight: 700;
    }
    
    .rewards-message {
      color: #65615f;
      font-size: 0.85rem;
      line-height: 1.25rem;
      margin-bottom: 2rem;
    }
    
    .rewards-terms {
      color: #65615f;
      font-size: 0.8rem;
      border-top: 1px solid #ececec;
      padding-top: 0.5rem;
  
      span {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .btn-container {
    margin: auto 0 1rem;
    width: 100%;
  }

}
