.cardContainer {
  display: flex;
  flex-direction: column;
  margin: 3rem 10vw;
  padding: 1.75rem 1.25rem;
  color: #32302f;
  border-radius: 28px;

  // if card has a background
  background-size: 400px 400px;
  background-repeat: no-repeat;
  background-position: right 50% bottom -175px;

  background-color: #ffffff;
  color: #32302f;

  .card-main-container {
    background-color: inherit;
    figure {
      margin: 0;
    }
    
    height: 100%;
    .card-text-container {
      span {
        font-weight: 700;
      }

      h3 {
        font-size: 2rem;
        font-weight: 600;
      }
      
      p {
        font-weight: 500;
        font-size: 1.25rem;
      }

      ul {
        padding: 0;

        p {
          margin: 0;
        }
    
        div {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          margin-bottom: 20px;
    
          .icon {
            font-size: 1.75rem;
            --ionicon-stroke-width: 1.5rem;
          }
        }
      }
    }
  }

  .btn-container {
    margin: 0 auto;
  }
}

.cardWithMinHeight {
  min-height: 35rem;

  h3 {
    font-size: 2rem!important;
  }

  p {
    line-height: 2rem;
    font-weight: 500;
  }
}