$offwhite: #fcfcfc;
$lightgray: #e4e2e1;
$darkgray: #32302f;

// background-image: radial-gradient(circle, rgb(241, 240, 240) 20%, rgb(241, 240, 240) 80%);

// background-image: radial-gradient(circle, rgb(255, 237, 235) 20%, rgb(244, 239, 245) 80%);

// background-image: linear-gradient(rgb(244, 239, 245), rgb(236, 241, 249));

// background-image: radial-gradient(circle, rgb(241, 240, 240) 20%, rgb(241, 240, 240) 80%);