section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff;
  
  .hero-main {
    padding: 15vh 10vw;

    .btn-container {
      margin: 0 3.5rem;
    }
  }

  .hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    margin: 0 2rem;

    h1 {
      font-size: 3rem;
      display: block;
      color: #32302f;
      margin: 0 2rem 1rem;
      font-weight: 700;
    }
  
    p {
      display: block;
      color: #32302f;
      margin: 0 1rem 2.5rem;
      font-weight: 500;
    }
  }
}