.mainContentCardContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 3rem 10vw;

  background-color: #ffffff;
  color: #32302f;

  h3 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 1.75rem 0;
  }

  .btn-container {
    margin: 0 1.25rem;
  }
}