.floating-label-input-container {
  position: relative;
  border: 1px solid #32302f;
  border-radius: 0.5rem;
  padding: 0 1rem;

  input {
    background-color: #fff;
    width: 100%;
    border: none;
    outline: 0!important;
    font-size: 1rem;
    padding: 1rem 0;
  }
  
  label {
    position: absolute;
    font-size: 1rem;
    transform-origin: top left;
    transform: translateY(1rem) scale(1);
    transition: all .1s ease-in-out;

    &.active {
      transform: translateY(0.25rem) scale(0.75);
    }
  }

  span {
    position: absolute;
    bottom: -50%;
    left: 0;
    font-size: 0.85rem;
    opacity: 0.5;
  }
}

.custom-radio-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;

  &:not(:last-child) {
    border-bottom: 1px solid currentColor;
  }
  
  input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.25em;
    height: 1.25em;
    border: 0.15em solid #32302f;
    border-radius: 50%;

    display: grid;
    place-content: center!important;

    &::before {
      content: "";
      width: 0.64em;
      height: 0.64em;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em #32302f;
    }
  
    &:checked {
      &::before {
        transform: scale(1);
      }
    }
  }
}

.floating-label-input-container {
  p {
    margin: 0;
  }
}

.custom-input-container {
  .labels-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    p {
      margin: 0;
    }

    :last-child {
      font-size: 0.85rem;
      font-weight: 300;
      letter-spacing: 0.1rem;
    }
  }

  label {
    color: #32302f;
  }

  input {
    background-color: #fff;
    width: 100%;
    margin-top: 0.8rem;
    border: 1px solid #ececec;
    border-radius: 2rem;
    padding: 1rem 2rem;

    &:focus {
      outline: none !important;
      border-color: #32302f;
      border-width: 2px;
    }
  }
}

.hasIcon {
  position: relative;

  span {
    position: absolute;
    color: #32302f;
    top: 45%;
    left: 20px;
  }
}

.hasTooltip {
  display: flex;
  gap: 0.5rem;
  // justify-content: flex-start;
  align-items: center;

  .tooltip {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: transparent;
    border: 0px !important;
    color: #666666;
    font-size: 14px;
    position: relative;
    
    .tip { 
      display: none; 
    }
    
    &:hover .tip, .show-tip { 
      display: inline;
      color: #54575a;
      padding: 0.75rem 1.5rem;
      filter: drop-shadow(0 5px 15px rgba(168,117,117,.2));
      border-radius: 0.5rem;
      background-color: #fff;
      position: absolute;
      z-index: 1;
      top: 35px;
      right: -6rem;
      min-width: 250px;
    }
  }
}

